<?php
defined('BASEPATH') or exit('No direct script access allowed');
?>

	<!DOCTYPE html>
	<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Result</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
		<style>
			body {
				text-align: center;
				margin: auto;
			}

			#result {
				width: 300px;
				border: black 1px solid;
				margin: auto;
			}

		</style>
	</head>

	<body>
		<div class="main-containter">
			<?php $userinfo = $this->session->all_userdata(); ?>
			<h1>Welcome
				<?= $userinfo['first_name'] ?>
			</h1>
			<h4>User Info:</h4>

			<div id="result">
				<div>
					<form action="post" method="post">
						<textarea name="message" id="message" cols="30" rows="10"></textarea>
						<input type="submit" name="submit" value="Post">
					</form>
				</div>

				<div>
					<ul>

					</ul>
				</div>


			</div>
			<a href="processes/logout">
				<button type="submit">Logout</button>
			</a>
		</div>
	</body>

	</html>
